<%- include('partials/header') %>

</head>

<body>
    <div class="container">
        <h1>Success</h1>
        <p>Thank you for registering. You can now login.</p>
        <a href="/login">Login</a>

    </div>
</body>

<%- include('partials/footer') %>