<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/login_page.css">

    <title>Login</title>

</head>

<body class="login-signup-body">
    
    <div class="login-page">
        <div class="form">
            <h1>Login</h1>

            <form class="login-form" action="" method="POST">
                {{ form.hidden_tag()}}
                {{form.username}}
                {{form.email}}
                {{form.password}}
                {{form.submit}}

                <p class="message">Not registered? <a href="{{url_for('register')}}">Create an account</a></p>
            </form>
        </div>
    </div>
</body>

</html>



    <body>
        <div class="container">

            <form class="form" id="login-form" method="POST" action="\login">

                <video class="videoElement" id="videoElement" width="250" height="250" autoplay="true"></video>
                <canvas id="canvas" width="250" height="250" hidden></canvas>

                <h2>Login</h2>
                <input type="email" id="login-email" name="email" placeholder="Email">
                <input type="password" id="login-password" name="password" placeholder="Password">
                <button type="submit" id="login-submit-button">Login</button>
                <br>
                <button type="button" id="capture-image-button">Capture Image</button>

                <p class="switch-form-text">Don't have an account? <a href="#" id="register-link">Register</a></p>
            </form>


            <form class="form" id="register-form">
                <h2>Register</h2>

                <input type="text" id="register-name" placeholder="Name">
                <input type="email" id="register-email" placeholder="Email">
                <input type="password" id="register-password" placeholder="Password">
                <button type="submit">Register</button>

                <p class="switch-form-text">Already have an account? <a href="#" id="login-link">Login</a></p>
            </form>
        </div>
        <script src="js/script.js"></script>
        <script src="js/getUserImage.js"></script>
    </body>

    