<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/main.css">

    <title>Predict someting database</title>
</head>

<body>
    <div>
        <canvas id="hacker" width="100%" height="100%"></canvas>
        <div class="container mt-3">
            <div class="d-flex justify-content-between">
                <h1 class="position-relative">Predicted</h1>
                <a class="btn btn-danger btn-sm logout-button" href="{{url_for('logout')}}">Press here to logout</a>
            </div>


            <br>
            <br>

            {% if results != null %}
            <div class="container my-3">
                <table class="table table-striped table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">Name</th>
                            <th scope="col">Prediction / result</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for result in results %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{result}}</td>
                            <td>{{results[result]}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    {% if prev_page %}
                    <a href="/page?page={{ prev_page }}" class="btn btn-success">Previous</a>
                    {% endif %}

                    {% if next_page %}
                    <a href="/page?page={{ next_page }}" class="btn btn-success">Next</a>
                    {% endif %}
                </div>

            </div>
            {%endif%}

            {% if lists != null %}
                <table class="table table-striped table-dark table-hover">

                    <tbody>
                        {% for list in lists %}
                        <tr>
                            {% for val in list %}
                                <td> {{val}} </td>
                            {% endfor %}
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>
                <div class="d-flex justify-content-between">
                    {% if prev_page %}
                    <a href="/page?page={{ prev_page }}" class="btn btn-success">Previous</a>
                    {% endif %}

                    {% if next_page %}
                    <a href="/page?page={{ next_page }}" class="btn btn-success">Next</a>
                    {% endif %}
                </div>
            {% endif %}

            {% if url != null %}
                {% if heading != null%}
                    <h2 style="color: white;">{{ heading }}</h2>
                {% endif %}
                <img src="{{ url }}" alt="Chart" class="img-fluid">

                <br>
                <br>
                <div class="d-flex justify-content-between">
                    {% if prev_page %}
                    <a href="/page?page={{ prev_page }}" class="btn btn-success">Previous</a>
                    {% endif %}

                    {% if next_page %}
                    <a href="/page?page={{ next_page }}" class="btn btn-success">Next</a>
                    {% endif %}
                </div>
            {% endif %}


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
                </script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
                </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
                </script>


            <script src="static/index.js"></script>
</body>

</html>